/*
* @section Color list
*/

$even: #F0F1F2;
$odd: #FBFBFB;
$border-row: #D4D5D6;
$descriptopn-color: #999;
$primary-color: #f62e46;
$secondary-color: #8bc735;

/*
* @section Form element mixin
*/
@mixin fields_fonts() {
  font-family: "Open Sans",sans-serif;
  line-height: 1.4em;
}

/*
* @section Options fields
*/

.cherry-option {
    font-family: "Open Sans", sans-serif ;

    .row {
      padding-bottom: 5px;
      background-color: $odd;


      -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
      box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      h4 {
        margin-bottom: 4px;
        margin-top: 4px;
        font-size: 1em;
        font-weight: 600;
        color: #444;
        @include fields_fonts();
      }

      &:first-child {
        border-top: 1px solid $border-row;
      }

      &:nth-child(4n+1) {
        border-top: 1px solid $border-row;
        background-color: $even;
      }

      &:nth-child(4n+2) {
        border-bottom: 1px solid $border-row;
        background-color: $even;
      }

    }

    .description {
      color: $descriptopn-color;
      font-size: 11px;
      @include fields_fonts();
    }

    .cherry-switcher-wrap label {
      margin: 0;
    }

    .row.cherry-mailchimp-submit-wrapper {
      background: none repeat scroll 0 0 #2a445d;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    ////////////////////Buttons//////////////////////
    .cherry-mail-chimp-action {
      .cherry-mail-chimp-action-button {
        float: right;
        margin: 5px 15px;
      }
    }

    .button_{
      display: inline-block;
      cursor: pointer;
      white-space: nowrap;
      text-decoration: none;
      box-sizing: border-box;
      backface-visibility: hidden;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      transform: translateZ(0px);
      transition-duration: 0.5s;
      transition-property: color;
      vertical-align: middle;
      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
    }
    .button-primary_{
      @extend .button_;
      background-color: $primary-color;
      border: medium none;
      border-radius: 6px;
      box-shadow: none;
      color: #ffffff;
      font-size: 13px;
      height: auto;
      line-height: 42px;
      padding: 0 16px;
      &:before {
        background-color: darken($primary-color, 15%);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
        transform: scale(0);
        transition-duration: 0.1s;
        transition-property: transform;
        transition-timing-function: ease-out;
        z-index: -1;
        border-radius: 6px;
      }
      &:hover{
        text-decoration: none;
        color: #FFFFFF;
        box-shadow: none;
        cursor: pointer;border-radius: 6px;
        background: $primary-color;
      }
      &:link{
        text-decoration: none;
        color: #FFFFFF;
        box-shadow: none;
        cursor: pointer;
      }
      &:active{
        @extend .button-primary_:hover;
      }
      &:focus{
        @extend .button-primary_:hover;
      }
    }

    .button-default_{
      @extend .button_;
      font-size: 13px;
      background-color: #ffffff;
      border: 2px solid #dddcdc;
      border-radius: 6px;
      line-height: 38px;
      margin: 0;
      padding: 0 14px;
      box-shadow: none;
      color: #464646;
      height: auto;
    }
    .button-secondary_ {
      @extend .button_;
      font-size: 13px;
      background-color: $secondary-color;
      border-radius: 6px;
      line-height: 42px;
      margin: 0;
      padding: 0 16px;
      box-shadow: none;
      color: #FFFFFF;
      height: auto;
      border-style: none;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #FFFFFF;
        box-shadow: none;
        cursor: pointer;
        border-radius: 6px;
        background: darken($secondary-color, 10%);
      }
    }

    #cherry-mailchimp-options-save {
      &.right-spiner {
        padding-right: 40px;
      }
    }

    .spinner-wordpress-type-2 {
      opacity: 0;

      &.active {
        opacity: 1;
        -webkit-transition: opacity 300ms ease-in-out 150ms;
        transition: opacity 300ms ease-in-out 150ms;
      }
    }

  .notice-box {
    background: #222222;
    position: fixed;
    margin: 5px 0;
    border-left: 5px solid #2a445d;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 15px 20px 15px 15px;
    min-width: 200px;
    overflow: hidden;
    z-index: 999;
    -webkit-transition: all 250ms cubic-bezier(0.85, 0.04, 1, 1);
    transition: all 250ms cubic-bezier(0.85, 0.04, 1, 1);

    span.dashicons {
      position: relative;
      margin-right: 20px;
    }
    span.dashicons:before {
      position: absolute;
      font-size: 40px;
      left: -10px;
      top: -10px;
    }

    &.success {
      border-color: #8bc735;

      span.dashicons {
        color: #8bc735;
        &:before {
          content: "\f147";
        }
      }

      .inner b {
        color: #8bc735;
      }
    }

    &.info {
      border-color: #ffcc00;
      span.dashicons {
        color: #ffcc00;
      }
      span.dashicons:before {
        content: "\f348";
      }
      .inner b {
        color: #ffcc00;
      }
    }

    &.error {
      border-color: #f62e46;
      span.dashicons {
        color: #f62e46;
      }
      span.dashicons:before {
        content: "\f158";
      }
    }

    &.show-state {
      -webkit-transition: all 500ms cubic-bezier(0.1, 0.67, 0.26, 1);
      transition: all 500ms cubic-bezier(0.1, 0.67, 0.26, 1);
    }

    .inner {
      display: inline-block;
      color: #fff;
    }

  }


}

.cherry-clear {
  clear: both;
  width: 100%;
  height: 10px;
  display: block;
}