/*
* @section Color list
*/

$success-color: #055F10;
$warning-color: #e3c000;
$fail-color: #900D25;

/*
* @section Messages
*/
@mixin message($color: none) {
  display: none;
  color: $color;
}

/*
* @section Form element mixin
*/
@mixin form_element_mobile() {
  width: 100%;
  margin: 5px;
}

/*
* @section Link for popup
*/
.subscribe-popup-link {
  text-decoration: none;
}

/*
* @section Form Container
*/
.cherry-mailchimp-container {
  display: none;
}

/*
* @section Subscribe Form
*/
#cherry-mailchimp-form {

  position: relative;
  background: #FFF;
  padding: 50px 40px 40px 40px;
  width: auto;
  max-width: 350px;
  margin: 0 auto;

  input[type=email] {
    border: 1px #cccccc solid;
    background-color: #ebebeb;
    width: auto;
    display: inline;
    padding: 10px;
    @include form_element_mobile();
  }

  input[type=email][placeholder] {
    text-overflow: ellipsis;
  }

  input[type=email]::-moz-placeholder {
    text-overflow: ellipsis;
  }

  input[type=email]:-moz-placeholder {
    text-overflow: ellipsis;
  }

  button[type=submit] {
    background-color: #0b0b0b;
    color: #ffffff;
    display: inline;
    padding: 10px;
    @include form_element_mobile();
  }

  button[type=submit]:hover {
    background-color: #8a8a8a;
    color: #000000;
  }

  .message {
    &.message-fail {
      @include message($fail-color);
    }

    &.message-success {
      @include message($success-color);
    }
    &.message-warning {
      @include message($warning-color);
    }
  }
}

.mfp-close-btn-in .mfp-close {
  top: 0;
}
