/*
* @section Color list
*/


$success-color: #055F10;
$warning-color: #e3c000;
$fail-color: #900D25;

/*
* @section Messages
*/
@mixin message($color: none) {
  display: none;
  color: $color;
}

/*
* @section Link for popup
*/
.subscribe-popup-link {
  text-decoration: none;
}

/*
* @section Form Container
*/
.cherry-mailchimp-container {
  display: none;
}

/*
* @section Subscribe Form
*/
#cherry-mailchimp-form {

  width: 420px;
  background-color: white;
  padding: 10px;
  margin: 0 auto;

  input[type=email] {
    border: 1px #cccccc solid;
    background-color: #ebebeb;
    width: 250px;
    display: inline;
  }

  button {
    background-color: #0b0b0b;
    display: inline;
  }

  .message {
    &.message-fail {
      @include message($fail-color);
    }

    &.message-success {
      @include message($success-color);
    }
    &.message-warning {
      @include message($warning-color);
    }
  }
}
