<div class="message message-success">
%%SUCCESS_MESSAGE%%
</div>

<div class="message message-fail">
%%FAIL_MESSAGE%%
</div>

<div class="message message-warning">
%%WARNING_MESSAGE%%
</div>

<input type="email" name="email" placeholder="%%PLACEHOLDER%%">

<button type="submit">
%%BUTTON_TEXT%%
</button>