<div class="message success_message">
%%SUCCESS_MESSAGE%%
</div>

<div class="message fail_message">
%%FAIL_MESSAGE%%
</div>

<div class="message warning_message">
%%WARNING_MESSAGE%%
</div>

<input type="email" name="email" placeholder="%%PLACEHOLDER%%">

<button type="submit">
%%BUTTON_TEXT%%
</button>