/*
* @section Color list
*/
/*
* @section Form element mixin
*/
/*
* @section Options fields
*/
.cherry-option .row { padding-bottom: 5px; background-color: #FBFBFB; -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cherry-option .row h4 { margin-bottom: 4px; margin-top: 4px; font-size: 1em; font-weight: 600; color: #444; font-family: "Open Sans",sans-serif; line-height: 1.4em; }
.cherry-option .row:nth-child(4n) { border-top: 1px solid #D4D5D6; background-color: #F0F1F2; }
.cherry-option .row:nth-child(4n+1) { border-bottom: 1px solid #D4D5D6; background-color: #F0F1F2; }
.cherry-option .row:last-child { padding: 10px 0; background-color: #FBFBFB; }
.cherry-option .description { color: #999; font-size: 11px; font-family: "Open Sans",sans-serif; line-height: 1.4em; }
.cherry-option .cherry-switcher-wrap label { margin: 0; }
.cherry-option .cherry-mail-chimp-action .cherry-mail-chimp-action-button { float: right; margin: 5px 15px; }
.cherry-option .button_, .cherry-option .button-primary_, .cherry-option .button-default_, .cherry-option .button-secondary_ { display: inline-block; cursor: pointer; white-space: nowrap; text-decoration: none; box-sizing: border-box; backface-visibility: hidden; box-shadow: 0 0 1px transparent; position: relative; transform: translateZ(0px); transition-duration: 0.5s; transition-property: color; vertical-align: middle; }
.cherry-option .button_:hover, .cherry-option .button-primary_:hover, .cherry-option .button-primary_:active, .cherry-option .button-primary_:focus, .cherry-option .button-default_:hover, .cherry-option .button-secondary_:hover, .cherry-option .button_:active, .cherry-option .button-primary_:active, .cherry-option .button-default_:active, .cherry-option .button-secondary_:active, .cherry-option .button_:focus, .cherry-option .button-primary_:focus, .cherry-option .button-default_:focus, .cherry-option .button-secondary_:focus { outline: none; }
.cherry-option .button-primary_ { background-color: #f62e46; border: medium none; border-radius: 6px; box-shadow: none; color: #ffffff; font-size: 13px; height: auto; line-height: 42px; padding: 0 16px; }
.cherry-option .button-primary_:before { background-color: #cf0921; bottom: 0; content: ""; left: 0; position: absolute; right: 0; top: 0; transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1); transform: scale(0); transition-duration: 0.1s; transition-property: transform; transition-timing-function: ease-out; z-index: -1; border-radius: 6px; }
.cherry-option .button-primary_:hover, .cherry-option .button-primary_:active, .cherry-option .button-primary_:focus { text-decoration: none; color: #FFFFFF; box-shadow: none; cursor: pointer; border-radius: 6px; background: #f62e46; }
.cherry-option .button-primary_:link { text-decoration: none; color: #FFFFFF; box-shadow: none; cursor: pointer; }
.cherry-option .button-default_ { font-size: 13px; background-color: #ffffff; border: 2px solid #dddcdc; border-radius: 6px; line-height: 38px; margin: 0; padding: 0 14px; box-shadow: none; color: #464646; height: auto; }
.cherry-option .button-secondary_ { font-size: 13px; background-color: #8bc735; border-radius: 6px; line-height: 42px; margin: 0; padding: 0 16px; box-shadow: none; color: #FFFFFF; height: auto; border-style: none; }
.cherry-option .button-secondary_:hover, .cherry-option .button-secondary_:active, .cherry-option .button-secondary_:focus { text-decoration: none; color: #FFFFFF; box-shadow: none; cursor: pointer; border-radius: 6px; background: #6f9f2a; }
.cherry-option #cherry-mailchimp-options-save.right-spiner { padding-right: 40px; }
.cherry-option .spinner-wordpress-type-2 { opacity: 0; }
.cherry-option .spinner-wordpress-type-2.active { opacity: 1; -webkit-transition: opacity 300ms ease-in-out 150ms; transition: opacity 300ms ease-in-out 150ms; }
.cherry-option .notice-box { background: #222222; position: fixed; margin: 5px 0; border-left: 5px solid #2a445d; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); box-sizing: border-box; padding: 15px 20px 15px 15px; min-width: 200px; overflow: hidden; z-index: 999; -webkit-transition: all 250ms cubic-bezier(0.85, 0.04, 1, 1); transition: all 250ms cubic-bezier(0.85, 0.04, 1, 1); }
.cherry-option .notice-box span.dashicons { position: relative; margin-right: 20px; }
.cherry-option .notice-box span.dashicons:before { position: absolute; font-size: 40px; left: -10px; top: -10px; }
.cherry-option .notice-box.success { border-color: #8bc735; }
.cherry-option .notice-box.success span.dashicons { color: #8bc735; }
.cherry-option .notice-box.success span.dashicons:before { content: "\f147"; }
.cherry-option .notice-box.success .inner b { color: #8bc735; }
.cherry-option .notice-box.info { border-color: #ffcc00; }
.cherry-option .notice-box.info span.dashicons { color: #ffcc00; }
.cherry-option .notice-box.info span.dashicons:before { content: "\f348"; }
.cherry-option .notice-box.info .inner b { color: #ffcc00; }
.cherry-option .notice-box.error { border-color: #f62e46; }
.cherry-option .notice-box.error span.dashicons { color: #f62e46; }
.cherry-option .notice-box.error span.dashicons:before { content: "\f158"; }
.cherry-option .notice-box.show-state { -webkit-transition: all 500ms cubic-bezier(0.1, 0.67, 0.26, 1); transition: all 500ms cubic-bezier(0.1, 0.67, 0.26, 1); }
.cherry-option .notice-box .inner { display: inline-block; color: #fff; }

.cherry-clear { clear: both; width: 100%; height: 10px; display: block; }

/*# sourceMappingURL=admin.css.map */
