.cherry-mailchimp {
	display: none;
}

form#cherry-mailchimp-form {
	width: 40%;
	background: #FFF;
	padding: 20px 30px;
	text-align: left;
	max-width: 650px;
	margin: 40px auto;
	position: relative;
}

form#cherry-mailchimp-form input {
	max-width: 50%;
	min-width: 200px;
	margin: 0 auto;
}

form#cherry-mailchimp-form .message {
	display: none;
}

form#cherry-mailchimp-form .success_message {
	color: #055F10;
}

form#cherry-mailchimp-form .fail_message {
	color: #900D25;
}